* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content {
    display: grid;
    grid-template-areas: 'banner banner'
        'sidebar main';
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
}

header.banner {
    grid-area: banner;
    display: flex;
    align-items: center;
    padding: 1rem;
}

/****NAVIGATION****/
nav.sidebar {
    grid-area: sidebar;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

li#nav-item {
    list-style: none;
    padding: .5rem;
}

/****MAIN CONTENT****/
.main-content-container {
    grid-area: main;
    padding: 1rem;
}